*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 15px;
    cursor: pointer;
}
.background{
    background-color: rgb(234, 0, 255);
    background-blend-mode:darken ;
    background-size: cover;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: ;
}